@model _02CapsulaMvc.Net.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Nombre y Apellido</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Correo Electronico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Street" class="control-label">Calle</label>
                <input asp-for="Street" class="form-control" />
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Number" class="control-label">Altura</label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label">Pais</label>
                @Html.DropDownList("CountryId", (SelectList)ViewBag.CountryId, "Seleccione", new { @id = "CountryId", @class = "form-control", @onchange = "Lstate()" })
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label">Provincia</label>
                <select asp-for="StateId" id="StateId" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

function Lstate()
{
    $("#StateId").empty();
    $.ajax({
        type: 'GET',
        url: '@Url.Action("States")',
        data: { id: $("#CountryId").val() },
        success: function (states) {
            //$("#StateId").append('<option value="' + -1 + '">' +
            //    "Select State" + '</option>');
            $.each(states, function (i, state) {
                $("#StateId").append('<option value="' + state.value + '">' +
                   state.text + '</option>')
            });
        }
    });
}
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
